{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
 		 {% if content.field_title is not empty %}
 		   	<h2 class="content-title">{{ content.field_title }}</h2>
 		 {% endif %}
		<div class="content-body">{{ content.field_body }}</div>
</div>