{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
		<iframe src="{{ content.field_vimeo_pt_url.0 }}?texttrack=pt-br" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</div>
