@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root {
	--primary-blue: #102648;
	--secondary-blue: #80badb;
	--dark-gray: #70747c;
	--light-gray: #dfe3eb;
	--accent-maroon: #4F0923;
	--section-box-shadow: 0 0 50px 20px rgba(50, 50, 50,.15);
	--section-box-shadow-h: 0 0 50px 20px rgba(50, 50, 50,.2);
	--button-box-shadow: 5px 5px 10px 1px rgba(50, 50, 50,.08);
	--button-box-shadow-h: 5px 5px 10px 1px rgba(50, 50, 50,.12);
	--text-shadow: 2px 2px 15px #000;
}
/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
h1, h2 {
	font-weight: 600;
}
h4 {
	margin-bottom: 6px;
}
body {
	font: 1.6em/1.6em 'Lato', sans-serif;
}
* {
	-webkit-font-smoothing: inherit !important;
}
.content-body > li {
	padding: 5px 0;
}
.thead-dark {
	background-color: var(--light-gray);
}
body.navbar-is-static-top {
	margin-top: -1px;
}
/* Links */
.external-link {
	border: none;
	background-image: url('/sites/default/files/icons/external-link-alt.svg');
	background-size: 0.8em;
	background-repeat: no-repeat;
	background-position: right;
	padding: 0 20px 2px 0;
	font-size: 1.2em;
}
.internal-link {
	border: none;
	background-image: url('/sites/default/files/icons/angle-right.svg');
	background-size: 0.5em;
	background-repeat: no-repeat;
	background-position: right;
	padding: 0 15px 2px 0;
	font-size: 1.2em;
}
.calendar-icon {
	border: none;
	background-image: url('/sites/default/files/icons/calendar.svg');
	background-size: 0.8em;
	background-repeat: no-repeat;
	background-position: left;
	padding: 0 0 0 20px;
	font-size: 1.1em;
}
.map-icon {
	border: none;
	background-image: url('/sites/default/files/icons/map-marker.svg');
	background-size: 0.8em;
	background-repeat: no-repeat;
	background-position: left;
	padding: 0 0 0 20px;
	font-size: 1.1em;
}
/* Buttons */
.btn {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 10px 18px;
	transition: all 400ms;
}
.btn-primary {
	background: var(--primary-blue);
	border-color: var(--primary-blue);
	color: #fff;
	box-shadow: var(--button-box-shadow);
}
.btn-primary:hover {
	filter: brightness(110%);
	background: var(--primary-blue);
	border-color: var(--primary-blue);
	color: #fff;
	box-shadow: var(--button-box-shadow-h);
}
.btn-secondary {
	background: var(--secondary-blue);
	border-color: var(--secondary-blue);
	color: #fff;
	box-shadow: var(--button-box-shadow);
}
.btn-secondary:hover {
	filter: brightness(110%);
	background: var(--secondary-blue);
	border-color: var(--secondary-blue);
	color: #fff;
	box-shadow: var(--button-box-shadow-h);
}
.btn-success {
	background: var(--accent-maroon);
	border-color: var(--accent-maroon);
	color: #fff;
	box-shadow: var(--button-box-shadow);
}
.btn-success:hover, .btn-success.focus, .btn-success:focus {
	filter: brightness(110%);
	background: var(--accent-maroon);
	border-color: var(--accent-maroon);
	color: #fff;
	box-shadow: var(--button-box-shadow-h);
}
.btn-bw {
	background: #fff;
	color: #000;
	border-color: #000;
}
.btn-bw > a {
	color: #000;
	text-decoration: none;
}
.btn-bw:hover {
	color: var(--accent-maroon);
	border-color: var(--accent-maroon);
}
.btn-clear {
	color: #fff;
	text-decoration: none;
}
@media only screen and (max-width: 388px) {
	.btn > .btn-secondary > .btn-clear {
		text-align: center;
	}
}
.btn-margin {
	margin: 20px 0 0;
}
.btn-fullwidth {
	width: 100%;
}
/* Breadcrumbs */
.breadcrumb-bg {
	background-color: #f5f5f5;
}
/* Branding */
.secondary_navigation {
	filter: brightness(110%);
	background: var(--primary-blue);
	display: flex;
	z-index: 1000;
}
@media only screen and (max-width: 767px) {
	.secondary_navigation .navbar-text {
		font-size: 0.8em;
	}
}
/* Main Navigation */
.region-navigation-collapsible {
	display: block;
	position: relative;
	float: right;
	padding-left: 3vw;
}
.navbar-default .nav .dropdown-menu > li:hover, .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	background-color: #f5f5f5;
}
.dropdown-menu > li > a {
	padding: 6px 25px;
}
@media only screen and (max-width: 767px) {
	div.menu--secondary-menu {
		display: none;
	}
}
.navbar {
	margin-bottom: 0;
	box-shadow: 0 1px 10px 1px rgba(50,50,50,0.3);
}
.navbar-default {
	background-color: var(--primary-blue);
	border-color: var(--primary-blue);
}
.navbar-default .nav > li > a {
	color: #e5e5e5;
}
.navbar-default .nav > .active > a, .navbar-default .nav > li > a:focus, .navbar-default > .nav > .active > a:focus, .navbar-default .nav > li > a:hover, .navbar-default .nav > .active > a:hover {
	color: white;
	background-color: inherit;
}
.navbar-default .nav > li > a:hover:after {
	width: 100%;
}
nav > .nav > li > a:focus:after, nav > .nav > .active > a:focus:after, nav > .nav > li > a:hover:after, nav > .nav > .active > a:hover:after {
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 4px;
	content: "";
	background-color: var(--secondary-blue);
	transition: all 0.2s;
}
.navbar-default .nav > .open > a, .navbar-default .nav > .open > a:focus, .navbar-default .nav > .open > a:hover {
	color: white;
	background-color: inherit;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(221, 221, 221);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	filter: brightness(115%);
	background-color: var(--primary-blue);
}
.navbar-toggle {
	right: -5px;
	top: -6px;
}
header ul.menu {
	z-index: 200;
	position: relative;
}
.navbar-static-top {
	z-index: 100;
}
.navbar-default .nav .dropdown-menu > li > a {
	display: block;
  padding: 6px 25px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.navbar-default .nav .dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
/* Main Navigation Mobile Styles */
@media only screen and (min-width: 768px) {
	.region-navigation-collapsible .nav > li {
	    float: left !important;
	}
	header ul.menu > li > a {
		line-height: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.region-navigation-collapsible .nav, .region-navigation-collapsible .nav > li {
		float: none;
		text-align: left;
	}
	.region-navigation-collapsible {
		float: none;
	}
	.dropdown-menu > li > a {
		text-align: left;
	}
	header ul.menu > li > a {
		line-height: 30px;
		font-size: 1em;
	}
	header ul.menu > .open > a, header ul.menu > .open > a:focus, header ul.menu > .open > a:hover {
		color: white;
		background-color: var(--primary-blue);
	}
	.nav .open .dropdown-menu > li > a {
		padding: 5px 15px;
		line-height: 25px;
	}
	.navbar-default .nav .open .dropdown-menu > li > a {
		color: #cecece;
	}
	.nav .open .dropdown-menu > li > a:focus, .nav .open .dropdown-menu > li > a:hover, .nav .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .nav .open .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .nav .open .dropdown-menu > .active > a:hover {
		color: white;
		filter: brightness(125%);
    background-color: var(--primary-blue);
	}
	.nav .open .dropdown-menu > li > a:focus, .nav .open .dropdown-menu > li > a:hover {
	  background-image: none;
	}
	.nav .open .dropdown-menu {
	  position: static;
	  float: none;
	  width: auto;
	  margin-top: 0;
	  background-color: transparent;
	  border: 0;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	}
	.menu .menu--secondary-menu .nav > .last {
		margin-bottom: 2px;
	}
}
/* Branding Blocks */
.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}
.branding-name, .branding-name a:hover {
	font-size: 1.4em;
	color: #fff !important;
	margin: 10px 0 0;
	text-decoration: none !important;
	line-height: 40px;
}
.branding-slogan, .branding-slogan a:hover, .language-selector, .language-selector a:hover {
	font-size: 0.9em;
	color: var(--light-gray) !important;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin: 7px 0 0 8px;
	text-decoration: none !important;
}
.language-selector-p {
	text-align: right;
	margin: 6px 0;
}
@media only screen and (max-width: 767px) {
	.language-selector-p {
		text-align: center;
		margin: 0 0 6px;
	}
}
.region-multilingual > section {
	float: right;
}
.branding-logo {
	margin: 5px 0;
	text-decoration: none !important;
}
.block-system-branding-block {
	padding: 5px 0;
}
@media only screen and (max-width: 389px) {
	.branding-logo {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.region-secondary-navigation > .block-system-branding-block, .region-navigation > .block-system-branding-block {
		text-align: center;
	}
}
/* Home Hero Image */
.hero-home-title {
	text-align: right;
	color: #fff;
	text-shadow: var(--text-shadow);
}
/* Hero Image */
.hero-background {
	padding: 20% 0 3% 0;
	margin: 0 0 50px;
	box-shadow: 0 10px 20px 10px rgba(50, 50, 50,.1);
}
.hero-title {
	color: #fff;
	text-shadow: var(--text-shadow);
}
@media only screen and (max-width: 388px) {
	.hero-title, .hero-home-title {
		padding: 16px 0 0;
	}
}
/* Content */
.content-body {
	margin: 0 0 50px;
}
/* Image CTA */
.image-cta {
	box-shadow: var(--section-box-shadow);
    transition: all 2s ease;
	background-color: #0000002e;
	background-blend-mode: overlay;
}
.image-cta:hover {
	box-shadow: var(--section-box-shadow-h);
}
.image-cta-title {
	padding: 13em 0 0 2em;
	font-weight: 600;
	color: #fff;
	text-shadow: var(--text-shadow);
}
.image-cta-button {
	padding: 0 0 1.5em 2em;
}
.image-cta {
	margin: 0 0 15px;
}
/* Color CTA */
.paragraph--type--color-cta {
	padding: 4% 0;
	margin: 3% 0 0;
	text-align: center;
	color: #fff;
	background: var(--accent-maroon);
	box-shadow: var(--section-box-shadow);
}
* Featured Image Header */
.fh-section {
	margin-top: 3%;
}
.paragraph--type-featured-image-header > .fh-right {
	margin: auto 60px auto -60px;
	background-color: var(--primary-blue);
	padding: 40px;
	color: white;
}
.paragraph--type-featured-image-header > .fh-left {
	margin: auto 0;
}
.fh-header {
	margin-top: 0;
	line-height: 1.3em;
}
.fh-image {
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
}
.fh-teaser {
	font-size: 1.2em;
}
@media only screen and (max-width: 991px) {
.paragraph--type-featured-image-header > .fh-right {
	margin: 15px 15px 15px 0;
	padding: 30px;
}}
/* Resources Views */
.resource-title {
	font-size: 1.1em;
	color: #333;
}
.resource-author {
	font-size: 0.9em;
	text-transform: uppercase;
	color: var(--dark-gray);
	letter-spacing: 0.1em;
}
.resource-sticky {
	text-transform: uppercase;
	color: var(--primary-blue);
	padding: 0 0 5px;
	font-size: 0.8em;
}
/* Academics Menu View */
.academics-item {
	display: block;
	border: 1px solid var(--light-gray);
	padding: 6% 3%;
	margin: 1% 0;
}
.academics-item:hover {
	text-decoration: none;
	border: 1px solid var(--dark-gray);
	transition: 200ms;
}
.academics-title {
	font-size: 1.3em;
	font-weight: 600;
	color: #333;
}
.academics-degree {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1em;
	color: var(--dark-gray);
}
.academics-degree:after {
  content: "";
  display: block;
  width: 5%;
  padding: 5px 0 12px;
  border-bottom: 3px solid var(--primary-blue);
}
/* Horizontal Rule */
.bottom-divider:after, .bottom-divider-c {
  content: "";
  display: block;
  width: 7%;
	padding: 10px 0 12px;
  border-bottom: 3px solid var(--primary-blue);
}
.bottom-divider-c:after {
  margin: 0 auto;
}
.footer-divider:after {
	content: "";
	display: block;
	width: 100%;
	padding: 0 0 12px 0;
	border-bottom: 1px solid white;
}
/* Paragraph */
.video-title {
	text-align: center;
	margin: 5% 0 0;
}
.video-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 7%;
  padding: 10px 0 12px;
  border-bottom: 3px solid var(--primary-blue);
}
.video-embed {
	box-shadow: var(--section-box-shadow);
	margin: 2% 0 5%;
}
/* File Display */
.field--name-field-file {
	margin: 20px 0;
}
/* Course Videos */
.field--name-field-video {
	margin: 20px 0 0;
}
/* Faculty and Staff Display */
.fs-row {
	padding: 15px 0;
	border-bottom: 1px solid var(--dark-gray);
}
.fs-position {
	font-size: 1.1em;
	margin: -5px 0 10px;
}
.fsd-position, .fs-school {
	font-size: 1.1em;
}
.fsd-email, .fs-body {
	margin: 20px 0 0;
}
.fs-image > a > .img-responsive {
	border-radius: 3px;
}
.fsd-image {
	margin: 25px 0 0;
}
.fsd-image > .img-responsive {
	border-radius: 3px;
}
@media only screen and (max-width: 767px) {
	.fsd-image > .img-responsive {
		display: block;
		margin: 0 auto;
	}
	.fs-image {
		margin: 10px 0 0;
	}
}
/* Program Display */
.program-degree {
	margin: -10px 0 0;
}
.program-image {
	box-shadow: var(--section-box-shadow);
	margin: 2% 0 4%;
}
.program-overview {
	margin: 0 0 3%;
}
.bs-region--bottom-left {
	margin: auto 0;
}
.top-right-program {
	margin: 20px 0 0;
}
.program-testimonial-image > .img-responsive {
	box-shadow: 10px 0 20px 1px rgba(50, 50, 50,.15);
	margin: 3% 0;
	float: right;
}
@media only screen and (max-width: 575px) {
	.program-testimonial-image > .img-responsive {
		display: block;
		margin: 0 auto;
	}
}
/* Course Display */
.course-title {
	margin: 5% 0 0 0;
}
/* Program Course Display */
.program-course-list {
	border-bottom: 1px solid var(--light-gray);
	margin: 0 0 5px;
	padding: 0 0 5px;
}
/* Collapsable Panel */
.panel:last-child {
	margin-bottom: 10px;
}
.panel-default > .panel-heading > .panel-title {
	font-size: 20px !important;
}
.panel-default > .panel-heading {
	background: #fff;
	border-bottom: 2px solid var(--dark-gray);
}
.panel-heading, .panel-default {
	border: none;
}
.panel {
	box-shadow: none;
}
.panel-body {
	border: 1px solid var(--dark-gray);
	border-radius: 0 0 3px 3px;
}
/* Image Block */
.block-image > .img-responsive {
	margin: 0 auto;
}
/* Webform */
.progress-step.is-active .progress-marker, .webform-progress-tracker .progress-step.is-complete:hover .progress-marker {
	background-color: var(--primary-blue);
}
.webform-progress-tracker .progress-step.is-active:hover .progress-marker {
	filter: brightness(110%);
	background-color: var(--primary-blue);
}
.webform-progress .progress-title[role="link"], .webform-progress .progress-title[role="link"]:hover, .webform-progress .progress-title[role="link"]:focus {
	color: var(--primary-blue);
}
.webform-multiple-add > .form-item > .form-control {
	margin-left: 10px;
	height: 42px;
}
.webform-progress-tracker .progress-step:not(.is-active) .progress-marker {
	background-color: var(--dark-gray);
}
 .webform-progress-tracker .progress-step .progress-text {
	 color: var(--dark-gray);
 }
/* News RSS Readers */
.column-rss {
	padding: 15px;
	margin: 5px;
	border: 1px solid var(--light-gray);
	border-radius: 3px;
	box-shadow: 0px 0px 5px 1px rgba(50, 50, 50,.12);
}
.rss-column-view {
	margin: 0 10px;
}
.rss-title {
	font-size: 1.2em;
}
.rss-date {
	font-size: .8em;
}
/* User Display */
.user {
	padding: 3% 0 0;
}
/* Footer */
.footer {
	background-color: var(--dark-gray);
	color: white;
	font-size: 0.9em;
}
.footer a {
	color: white;
}
.footer ul.menu {
	margin: 0 auto;
}
.footer .menu > li > a {
	line-height: 20px;
}
.nav > li > a {
	padding: 4px 10px;
}
.footer .menu {
	text-align: left;
}
.footer .nav > li > a:hover, .nav > li > a:focus {
	filter: brightness(115%);
	background-color: var(--dark-gray);
}
h4.footer-divider {
	font-weight: 600;
}
@media only screen and (max-width: 768px) {
	.footer-divider {
		text-align: center;
	}
}
.footer #block-sitebranding-footer {
	text-align: center;
}
.footer #block-address {
	padding: 5px 10px;
}
.footer ul.menu > li {
	float: none;
}
.menu--other {
	border-top: 1px solid white;
	padding-top: 5px;
	margin-top: 8px;
	width: 100%;
}
/* Make the footer stay at the bottom of the screen */
@media only screen and (max-width: 575px) {
	.main-container {
		min-height: calc(100vh - 817px);
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.main-container {
		min-height: calc(100vh - 483px);
	}
}
@media only screen and (min-width: 768px) {
	.main-container {
		min-height: calc(100vh - 393px);
	}
}
/* Footer Bottom */
.footer-bottom {
	background: var(--primary-blue);
	color: var(--light-gray);
	padding: 10px 0;
	font-size: 0.9em;
}
@media only screen and (max-width: 575px) {
	.footer-bottom {
		text-align: center;
	}
}
/* Request Information Form */
.wForm .label {
	color: #323232;
	font-size: 1em;
}
.wForm legend {
	width: initial;
	border-bottom: none;
}
